_pycache_/
*.py[cod]
*$py.class

venv-TODO-LIST/
venv/
env/
.env

instance/
.webassess-cache

*.db

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

*.tmp
variables.env
secret.key

git rm --cached .env
git rm --cached secret.key
git commit -m "Remove sensitive files from Git history"
