/* Styles from Home Page, Add tasks form and Tasks list */

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #6CA2AC; /* Main color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    overflow: hidden; /* Avoid scroll */
}

/* Nav bar */
.navbar {
    height: 50px;
    padding: 10px;
    background-color: #507D80;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar img {
    overflow: hidden;
    width: 55px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar button {
    background-color: #6CA2AC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}


.navbar button:hover {
    opacity: 0.8;
}

.container {
    width: 50%;
    height: 90vh; /* Set height to don't use all the viewport */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

header {
    background-color: #507D80; /* Darker main color */
    padding: 20px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
}

nav {
    margin-top: 10px;
}

form {
    margin-top: 20px;
    flex-shrink: 0; /* Avoid form reduces when scrolling */
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-bottom: 7px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-right: 10px;
}

/* Priority selector styles */
select {
    padding: 10px;
    width: 30%;
    border: 1px solid #6CA2AC;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 1rem;
    color: #333;
}

select option {
    padding: 10px;
}

select:focus {
    border-color: #FFB13D;
    box-shadow: 0 0 5px rgba(255, 177, 61, 0.5);
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #405960;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5px;
}

/* Task list styles */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    flex-grow: 1;/* Tasks list will use the remain space */
    overflow-y: auto; /* Enable scroll in Tasks list */
    border-top: 1px solid #ccc; /* Visual separator */
}

li {
    background-color: white;
    color: #333;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #6CA2AC;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border 0.3s;
    position: relative;
}

.task-item {
    position: relative;
}

.task-item .priority-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
    transition: all 0.5s ease-in-out;
}

.task-item.priority-low .priority-bar {
    background-color: #82AC6C; /* Soft green */
}

.task-item.priority-medium .priority-bar {
    background-color: #FFB13D; /* Orange */
}

.task-item.priority-high .priority-bar {
    background-color: #E94D4A; /* Red */
}

.task-item.completed .priority-bar {
    background-color: #3E4F50; /* Darker color */
    transform: translateX(-100%);
    opacity: 0;
}

.task-item.completed {
    background-color: #000a1a; /* Darker blue background */
    border: 2px solid #FFD700; /* Gold yellow border */
    box-shadow: 0 0 0 4px transparent;
    color: white; /* Change text color to white */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transitions */

    /* Disable buttons */
    pointer-events: none; /* Disable interaction with child elements */
    opacity: 0.6; /* Reduce opacity */
}

.task-item.completed .delete-btn {
    pointer-events: auto; /* Allow interaction with delete button */
    opacity: 1;
}


.task-text {
    flex-grow: 1;
    text-align: left;
}

/* Button styles */
.check-btn {
    background-color: #FFB13D; /* Second color */
    color: white;
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.check-btn:disabled {
    background-color: #cccccc; /* Disabled */
    cursor: not-allowed;
}

.edit-btn {
    background-color: #82AC6C; /* Edit button */
}

.delete-btn {
    background-color: #E94D4A; /* Delete button */
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}

/* Scrollbar styles */
ul::-webkit-scrollbar {
    width: 10px;
}

ul::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

ul::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Calendar widget styles */
.calendar-widget {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.calendar-widget h3 {
    font-size: 18px;
    font-weight: bold;
}

.calendar-widget ul {
    list-style-type: none;
    padding: 0;
}

.calendar-widget ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
