<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.ico') }}">
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        <div class="nav-buttons">
            <a href="{{ url_for('index') }}"><button class="edit-btn">Home</button></a>
            <a href="{{ url_for('register') }}"><button class="edit-btn">Sing In</button></a>
        </div>
    </div>

    <div class="container">
        <h2>Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST" class="form-register">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
